streamlit>=1.36
requests>=2.32
pandas>=2.2
opencv-python-headless>=4.8
pillow>=10.3
fpdf2>=2.7.0
numpy
plotly>=5.22
altair>=5.3
folium>=0.14
streamlit-folium>=0.18
streamlit-geolocation
qrcode[pil]>=8.2
fastapi>=0.111
uvicorn[standard]>=0.30
pydantic[email]>=2.7
python-multipart>=0.0.9
PyMySQL>=1.1
python-dotenv>=1.0
ultralytics>=8.2
bcrypt>=4.1
PyJWT>=2.8
mediapipe>=0.10.0
deepface>=0.0.79
tf-keras>=2.16
mysql-connector-python>=9.0
webauthn>=2.0
phonenumbers>=8.13.0
insightface>=0.7.3
onnxruntime>=1.15.1